.custom-landing {
	background-color: white;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
}

.btn-outline-primary {
	color: #12B886;
    background-color: transparent;
    background-image: none;
    border-color: #12B886;
}

.btn-outline-primary:hover {
	background-color: #12B886;
    border-color: #12B886;
}