.step-subhead {
    font-weight: bold;
}

#shotCount {
    position: fixed;
    right: 10px;
    bottom: 100px;
    font-size: 72px;
}

#goNextBtn {
    position: fixed;
    right: 10px;
    bottom: 120px;
}